* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

p {
  font-size: 14px;
  padding-top: 10px;
}

h1 {
  font-size: 30px;
  padding: 20px 0px 0px 0px;
}

.error-parent {
  width: 300px;
  height: 90px;
  padding: 10px;
  margin-top: 10px;
  display: none;
  border: 1px solid #ff4328;
  border-radius: 4px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #ff452850;
  -webkit-backdrop-filter: blur(29px);
  backdrop-filter: blur(29px);
}

#error {
  font-size: 13px;
}

button {
  font-size: 14px;
  color: #fff;
  padding: 10px 12px;
  background-color: rgb(51, 109, 255);
  border: 1px solid rgb(51, 109, 255);
  border-radius: 9px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 350ms ease-in;
}

button:hover {
  background-color: transparent;
  color: rgb(51, 109, 255);
}

.chat {
  width: 100%;
  height: 80px;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #000000;
  color: #333;
  border-radius: 10px;
}
